<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>In the app.component.html</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-primary" (click)="onToggleDisplay('app-servers')">Display App Servers</button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary" (click)="onToggleDisplay('app-alerts')">Display Alerts</button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary" (click)="onToggleDisplay('app-ch2-assignment3')">Display Ch2 Assgn 3</button>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12" *ngIf="displayAppServers">
      <div>Bringing in app-servers from servers.component.html</div>
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
  <hr>
  
  <div class="row" *ngIf="displayAlerts">
    <div class="col-xs-6">
      <app-warning-alert></app-warning-alert>
    </div>
    <div class="col-xs-6">
      <app-success-alert></app-success-alert>
    </div>
  </div>
  <hr>
  
  
  <div class="row" *ngIf="displayCh2Assignment3">
    <div class="col-xs-12">
      <app-ch2-assignment3></app-ch2-assignment3>
    </div>
  </div>
</div>